<div class="top-buffer">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#/home">Nipper</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class=" top-push">
        <div class="col-lg-12">
            <div class="input-group">
                <input
                        ng-model = "model.searchText"
                        type="text"
                        class="form-control"
                        width="100%"
                        placeholder="Find Nipper By Name...">
                <a href="#/listAll/{{model.searchText}}"
                   class="bg-color col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <i class="fas fa-search"></i>
                </a>
                <a href="#/listAll"
                   class="btn btn-block">
                    Search For All Nippers !
                </a>


            </div>
        </div>
    </div>

</div>
</div>
